@charset "utf-8";

/*Estilo para el body*/
body {
    width: 90%; 
    margin: 1em auto !important;
    background-color: #f3f2ef !important;
}

section#banner, #acerca_de, #experiencia, #educacion{
    background-color: #ffffff;
    margin-top: 0.5em;
    border-radius: 1.5em;
}

/* Estilo para botones de redes*/
li.list-group-item{
    background-color: transparent;
    border: transparent;
}

i.fa-brands,i.fa-solid{
    color: #ffffff;
}

i.fa-brands:hover{
    color: #1335f1;
}

/* Estilo para el banner*/
img.d-block.w-100 {
    height: 50em;
}

/*Estilo de acerca de*/
#foto_perfil{
    position: relative;
    width: 15%;
    box-shadow: 3px 3px 10px #808080;
    margin-top: -10em;
    margin-left: 5em;
}

/*Estilos seccion Experiencia */
.li-lineal{
    display: inline;
}